<!-- Footer -->
<footer id="footer" class="font-small special-color-dark pt-3">
    <span id="footerText" class="text-muted">© 2020 Created by Paweł Lodzik aka Pawemol
    </span>
    <!-- Copyright -->

    <!-- Copyright -->

</footer>