{% extends 'base.html.twig' %}
{% set title='mainPage.title'|trans %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>{{ title }}</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Oto główna strona pastebina. Żeby wkleić tekst wybierz z menu odpowiednią opcję.
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include 'snippets/alertContainer.html.twig' %}
        </div>
    </div>
{% endblock %}
