App\Entity\Paste:
  constraints:
    - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: code
  properties:
    title:
      - NotBlank: ~
    text:
      - NotBlank: ~
    expireDate:
      - GreaterThan: +1 hours